.app-container{
    background-color:rgb(222, 218, 218);
    min-height:100vh;
    display: flex;
    flex-direction: column;
    padding:20px;
}
.header-container{
    display: flex;
    align-items: center;
    margin-top:20px;
}
@media screen and (min-width:768px){
    .header-container{
        justify-content: space-around;
    }
}
.movie-heading{
    font-size:12px;
    color:rgb(59, 57, 57);
    font-family:'Roboto';
    font-weight: 700;
    margin-right:10px;
}
@media screen and (min-width:768px){
    .movie-heading{
        font-size:16px; 
        margin-right:60px;   
    }
}
.search-input{
    border:none;
    outline: none;
    cursor: pointer;
    width:200px;
    height:34px;
    border-radius:12px;
    border-width:0px;
    background-color: rgb(245, 242, 242);
    box-shadow:0px 2px 4px 0px grey;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 16px;
    font-family:'Roboto';
    font-size:12px;
    color:black;
    font-weight: 700;
}
@media screen and (min-width:768px){
    .search-input{
        font-size: 16px;
        width:600px;
    }
}
.search-button{
    font-family:'Roboto';
    font-size:12px;
    color:white;
    background-color: rgb(59, 58, 58);
    border: none;
    outline: none;
    cursor: pointer;
    width:80px;
    height: 34px;
    padding-top:4px;
    padding-bottom:4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius :12px;
    border-width:0px;
    margin-left: 12px;
}
.list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    margin-left:0px;
}
.failure-container{
    display: flex;
    justify-content: center;
}
.failure-heading{
    font-family: 'Roboto';
    font-size:20px;
    color:black;
    font-weight: bold;
}
.loading-container{
    display: flex;
    justify-content: center;
}
.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-button{
    margin-right:10px;
    font-family:'Roboto';
    font-size:12px;
    color:white;
    background-color: rgb(59, 58, 58);
    border: none;
    outline: none;
    cursor: pointer;
    width:80px;
    height: 34px;
    padding-top:4px;
    padding-bottom:4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius :12px;
    border-width:0px;
    margin-left: 12px;
}
.right-button{
    font-family:'Roboto';
    font-size:12px;
    color:white;
    background-color: rgb(59, 58, 58);
    border: none;
    outline: none;
    cursor: pointer;
    width:80px;
    height: 34px;
    padding-top:4px;
    padding-bottom:4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius :12px;
    border-width:0px;
    margin-left: 12px;
}